.signup-component {
	margin-top: 10%;

	.signup-title {
		text-align: center;
	}
}

.signup-form {

	input {
		margin: 2% 0;
	}
}

.joinHouseSearch{
	display:inline-block;
	width:60%;
}

.joinHouseContainer{
	width:80%;
	margin:auto;
	text-align:center;
}

.joinButton{
	
}

.houseName{
	display:inline-block;
	float:left;
	margin-top:6px;
}

.houseContainer{
	text-align:right;
}