
.landing-tile {
	width: 100%;
    border: 1px solid black;
    height: 32em;

    #landing-title {
    	margin-top: 10%;
    }

    h1 {
    font-size: 400%;
	text-align: center;
	margin-top: 1%;
    }

    h1 + p {
    	text-align: center;
    }

    .input-group {
    	margin: 0 30%
    }
}

#lt2 {
	.features {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		div {
			justify-content: center;	
			margin: 1% 7%;
			text-align: center;
			h4 {
				font-size: 200%;
			}
		} 
	}
}


#lt3 {
	.tech {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		div {
			justify-content: center;	
			margin: 1% 7%;
			text-align: center;
			h4 {
				font-size: 200%;
			}
		} 
	}
}

#lt4 {
	height: 40em;
	.developers {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		div {
			justify-content: center;	
			margin: 1% 7%;
			text-align: center;
			img {
				border-radius: 50%;
			}
			h4 {
				font-size: 200%;
			}
		} 
	}
}





