.landing {
	background-image: url('/../../assets/cozy_landing_image.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: -1%;
}


.landing-tile {
	width: 100%;
    height: 32em;
    background-repeat: no-repeat;
    color: $snow;
	text-shadow: 1px 1px black;

    h1 {
    font-size: 500%;
	text-align: center;
	margin-top: 1%;
    }

    h1 + p {
    	text-align: center;
    }

    .input-group {
    	margin: 0 30%
    }
}


#lt1 {
	padding-top: 12%;
	height: 32em;
}

#lt2 {
	margin-top: 8%;
	.features {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		div {	
			margin: 2% 7%;
			text-align: center;
			h4 {
				font-size: 200%;
			}
		}

		.calendar_landing_image {
			position: relative;
			left: -3%;
		} 
	}
}


#lt3 {
	margin-top: 8%;
	.tech {
		margin-top: 4%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		div {
			justify-content: center;	
			margin: 1% 7%;
			text-align: center;
			h4 {
				font-size: 200%;
			}
		}

		#postgre {
			zoom: 87%;
		}
		#sass {
			zoom: 81%;
		}
		#node {
			margin-right: 6%;
		} 
	}
}

#lt4 {
	height: 40em;
	margin-top: 8%;
	.developers {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		div {
			justify-content: space-between;	
			margin: 4% 5%;
			text-align: center;
			img {
				margin-left: 4%;
				zoom: 85%;
				border-radius: 50%;
			}
			h4 {
				font-size: 200%;
			}
		} 
	}
}

.developer-links {
	display: flex;
	flex-direction: row;
}

.img-offset {
	margin-left: 7%;
}





