.navbar {
	background-color: $primaryColor;
	border-color: $primaryColor;
	border-radius: 0px;
	color: $snow;
}

.navbar-inverse .navbar-brand {
    color: $snow;
}

.navbar-inverse .navbar-nav>li>a {
    color: $snow;
}
