.navbar {
	background-color: $primaryColor;
	border-color: $primaryColor;
	border-radius: 0px;
	margin-bottom: 0px;
	color: $snow;
}

.nav-text {
	color: $snow;
	cursor: pointer;
}

.nav-text:hover {
	color: $snow;
	text-decoration: underline;
}

.navbar-inverse .navbar-brand {
    color: $snow;
}

.navbar-inverse .navbar-brand:hover {
    text-decoration: underline;
}
